.carousel {
  overflow: hidden;
  height: 1200px;
  width: 100%;
  background-color: rgb(201, 201, 201);
}

.slider {
  height: 650px;
  width: 100%;
  background-image: url("../../Images/slider/0.jpg");
  background-size: cover;
}
